<p-blockUI [blocked]="loading">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<p-toast position="bottom-right" [breakpoints]="{'490px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-confirmPopup></p-confirmPopup>

<div class="flex flex-wrap justify-content-center pt-3">
    <div class="card w-11 xl:w-10">
        <div class="flex flex-wrap align-items-center justify-content-center mb-1">
            <h2 class="w-full">New Project</h2>
            <h5 class="w-full text-md font-medium mt-0">Create a new project (Interview)</h5>
        </div>

        <div class="card w-full">
            <p-steps [model]="stepsItems" [activeIndex]="activeTabIndex"
                (activeIndexChange)="activeIndexChange($event)"></p-steps>
        </div>

        <p-messages [(value)]="errorMessage" [enableService]="false" [escape]="false" [closable]="false"></p-messages>

        <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="saveAction(projectForm.value)">
            <p-tabView class="w-full" [(activeIndex)]="activeTabIndex">
                <p-tabPanel headerStyleClass="hidden">
                    <div class="grid">
                        <div class="col-12 lg:col-7">
                            <div class="card">
                                <div class="grid">
                                    <div class="col-12 mt-2">
                                        <label for="title"
                                            class="block text-sm font-normal text-800 ml-2 mb-2">Title<span
                                                class="required-dot">&#11044;</span></label>
                                        <input id="title" formControlName="title" type="text" pInputText
                                            class="w-full font-medium mb-1 p-2" placeholder="What to do...">
                                        <small class="p-error block"
                                            *ngIf="validateControl('title') && hasError('title', 'required')">
                                            Title is required
                                        </small>
                                    </div>

                                    <div class="col-12">
                                        <label for="description"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Description<span
                                                class="required-dot">&#11044;</span></label>
                                        <textarea formControlName="description" id="description" pInputTextarea=""
                                            autoResize="autoResize" style="min-height: 10rem;height: 10rem;"
                                            placeholder="Enter all requrements and details here..." maxlength="4000"
                                            class="w-full font-medium p-inputtextarea p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                                            spellcheck="true">
                                </textarea>
                                        <small class="p-error block"
                                            *ngIf="validateControl('description') && hasError('description', 'required')">
                                            Description is required
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 lg:col-5">
                            <div class="card">
                                <div class="grid">
                                    <div class="col-12 mt-1">
                                        <label for="interviewResult"
                                            class="block text-sm font-normal text-800 ml-2 mb-2">Interview
                                            Format<span class="required-dot">&#11044;</span></label>
                                        <p-dropdown formControlName="interviewResult" [options]="interview_results"
                                            optionLabel="name" optionValue="code" styleClass="w-full">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-12" *ngIf="projectForm.get('interviewResult').value == 'OTHER'">
                                        <label for="interviewResultComment"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Interview Format
                                            Details</label>
                                        <textarea formControlName="interviewResultComment" id="interviewResultComment"
                                            pInputTextarea="" autoResize="autoResize"
                                            style="min-height: 5rem;height: 5rem;"
                                            placeholder="Enter interview format details..." maxlength="4000"
                                            class="w-full font-medium p-inputtextarea p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                                            spellcheck="true">
                                        </textarea>
                                    </div>
                                    <div class="col-12">
                                        <label for="dueDate" class="block text-sm font-normal text-800 m-2 mt-4">Due
                                            Date</label>
                                        <p-calendar class="w-full font-medium mb-1" [minDate]="minDate"
                                            [showIcon]="true" inputId="dueDate" formControlName="dueDate">
                                        </p-calendar>
                                    </div>
                                    <div class="col-12">
                                        <label for="interviewCondition"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Budget<span
                                                class="required-dot">&#11044;</span></label>
                                        <p-dropdown formControlName="interviewCondition"
                                            [options]="interview_conditions" optionLabel="name" optionValue="code"
                                            styleClass="w-full">
                                        </p-dropdown>
                                    </div>
                                    <div class="col-12" *ngIf="projectForm.get('interviewCondition').value == 'OTHER'">
                                        <label for="interviewConditionComment"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Budget
                                            Details</label>
                                        <textarea formControlName="interviewConditionComment"
                                            id="interviewConditionComment" pInputTextarea="" autoResize="autoResize"
                                            style="min-height: 5rem;height: 5rem;"
                                            placeholder="Enter interview financial details..." maxlength="4000"
                                            class="w-full font-medium p-inputtextarea p-inputtext p-component p-element ng-pristine ng-valid ng-touched"
                                            spellcheck="true">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <p-divider></p-divider>
                        </div>
                        <div class="col-12 grid grid-nogutter justify-content-between">
                            <button pButton pRipple type="button" label="Cancel" (click)="cancelAction()"
                                class="p-button-raised p-button-secondary w-8rem py-2 font-medium"></button>
                            <button pButton pRipple label="Next" type="button" (click)="activeIndexChange(1)"
                                [disabled]="!projectForm.valid" class="w-8rem p-2 font-medium" icon="pi pi-angle-right"
                                iconPos="right"></button>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel headerStyleClass="hidden">
                    <div class="col-12">
                        <div class="card">
                            <p-fileUpload #fileInput [multiple]="true" [maxFileSize]="1000000" [fileLimit]="3"
                                [customUpload]="true" (uploadHandler)="customUpload($event)"
                                [showUploadButton]="false" [showCancelButton]="false">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <p-divider></p-divider>
                    </div>
                    <div class="col-12 grid grid-nogutter justify-content-between">
                        <button pButton pRipple type="button" label="Cancel" (click)="cancelAction()"
                            class="p-button-raised p-button-secondary w-8rem py-2 font-medium"></button>
                        <div>
                            <button pButton pRipple label="Prev" type="button" (click)="activeIndexChange(0)"
                                class="w-8rem p-2 mr-3 font-medium" icon="pi pi-angle-left" iconPos="left"></button>
                            <button pButton pRipple label="Next" type="button" (click)="activeIndexChange(2)"
                                class="w-8rem p-2 font-medium" icon="pi pi-angle-right" iconPos="right"></button>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel headerStyleClass="hidden">
                    <div class="grid">
                        <div class="col-12 lg:col-4">
                            <div class="card h-full flex flex-column justify-content-between">
                                <div class="w-full">
                                    <p class="text-md font-light text-600"><strong>Media Assistant</strong> (anyone who
                                        has
                                        ability to create
                                        a professionally looking text
                                        article for your website, newspaper, or a person who can help to create
                                        professionally edited video or audio podcast).
                                        Usually, you have to pay for this service separately.
                                    </p>
                                </div>
                                <div>
                                    <div class="w-full">
                                        <label for="wishContactedByMediaAssistant"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Would you like to be
                                            contacted
                                            by <strong>Media Assistant</strong>?</label>
                                        <p-inputSwitch class="w-full font-medium mb-1"
                                            formControlName="wishContactedByMediaAssistant">
                                        </p-inputSwitch>
                                    </div>
                                    <div class="w-full">
                                        <label for="mediaAssistantFinancialService"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Budget</label>
                                        <p-dropdown formControlName="mediaAssistantFinancialService"
                                            [options]="financial_types" optionLabel="name" optionValue="code"
                                            styleClass="w-full">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 lg:col-4">
                            <div class="card h-full flex flex-column justify-content-between">
                                <div class="w-full">
                                    <p class="text-md font-light text-600"><strong>Promoter</strong> (this
                                        category of
                                        service includes
                                        SMM specialists, people or organizations with an ability to promote your
                                        interview
                                        in mass media/social networks). Depends on collaboration it could be a service
                                        you
                                        will have to pay for.
                                    </p>
                                </div>
                                <div>
                                    <div class="w-full">
                                        <label for="wishContactedByPromoter"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Would you like to be
                                            contacted
                                            by <strong>Promoter</strong>?</label>
                                        <p-inputSwitch class="w-full font-medium mb-1"
                                            formControlName="wishContactedByPromoter">
                                        </p-inputSwitch>
                                    </div>
                                    <div class="w-full">
                                        <label for="promoterFinancialService"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Budget</label>
                                        <p-dropdown formControlName="promoterFinancialService"
                                            [options]="financial_types" optionLabel="name" optionValue="code"
                                            styleClass="w-full">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 lg:col-4">
                            <div class="card h-full flex flex-column justify-content-between">
                                <div class="w-full">
                                    <p class="text-md font-light text-600"><strong>Producer</strong> (this option comes
                                        handy in case if you want someone to do everything on this platform for you.
                                        Consider producer as a general manager who will set up everything for in terms
                                        of
                                        your interviews).
                                        Usually paid separately.
                                    </p>
                                </div>
                                <div>
                                    <div class="w-full">
                                        <label for="wishContactedByProducer"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Would you like to be
                                            contacted
                                            by <strong>Producer</strong>?</label>
                                        <p-inputSwitch class="w-full font-medium mb-1"
                                            formControlName="wishContactedByProducer">
                                        </p-inputSwitch>
                                    </div>
                                    <div class="w-full">
                                        <label for="producerFinancialService"
                                            class="block text-sm font-normal text-800 m-2 mt-4">Budget</label>
                                        <p-dropdown formControlName="producerFinancialService"
                                            [options]="financial_types" optionLabel="name" optionValue="code"
                                            styleClass="w-full">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="col-12 grid grid-nogutter justify-content-between">
                        <button pButton pRipple type="button" label="Cancel" (click)="cancelAction()"
                            class="p-button-raised p-button-secondary w-8rem py-2 font-medium"></button>
                        <div>
                            <button pButton pRipple label="Prev" type="button" (click)="activeIndexChange(1)"
                                class="w-8rem p-2 mr-3 font-medium" icon="pi pi-angle-left" iconPos="left"></button>
                            <button pButton pRipple label="Next" type="button" (click)="activeIndexChange(3)"
                                class="w-8rem p-2 font-medium" icon="pi pi-angle-right" iconPos="right"></button>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel headerStyleClass="hidden">
                    <div class="col-12 mt-3">
                        <p-divider></p-divider>
                    </div>
                    <div class="col-12 grid grid-nogutter justify-content-between">
                        <button pButton pRipple type="button" label="Cancel" (click)="cancelAction()"
                            class="p-button-raised p-button-secondary w-8rem py-2 font-medium"></button>
                        <div>
                            <button pButton pRipple label="Prev" type="button" (click)="activeIndexChange(2)"
                                class="w-8rem p-2 mr-3 font-medium" icon="pi pi-angle-left" iconPos="left"></button>
                            <button pButton pRipple label="Publish" type="submit" [disabled]="!projectForm.valid"
                                class="w-8rem py-2 font-medium"></button>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </form>
    </div>
</div>