<div class="flex flex-column flex-wrap">
    <div class="mb-3 w-full">
      <p-menubar styleClass="text-lg" [model]="itemsBar">
        <ng-template pTemplate="start">
          <button pButton pRipple class="p-button mr-5">
            <span class="pi pi-plus-circle"></span>
            <span class="ml-2 hidden sm:inline">Add Project</span>
          </button>
          </ng-template>
        <ng-template pTemplate="end">
        </ng-template>
      </p-menubar>
    </div>
  
    <div class="flex-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
